### int

In [19]:
# int data type is used to represent whole numbers

# Decimal Form(Base-10)
a=10
print(type(a))
print(a)
# Binary Form(Base-2): prefix with 0B or 0b
a=0B1111
print(a)
# Octa Form(Base-8): prefix with 0O or 0o
a=0O2342
print(a)
# Hexa Decimal(Base-16): prefix with 0X or 0x
a=0XBeef
print(a)

# Base Conversions
print()
print("bin() is used to convert from any base to binar")
print(bin(15))
print(bin(0o123))
print(bin(0X10))
print()
print("oct() is used to convert form any base to octal")
print(oct(0B111))
print(oct(24))
print(oct(0Xabc))
print()
print("hex() is used to convert form any base to hexa decimal")
print(hex(0B111))
print(hex(123))
print(hex(0O234))

<class 'int'>
10
15
1250
48879

bin() is used to convert from any base to binar
0b1111
0b1010011
0b10000

oct() is used to convert form any base to octal
0o7
0o30
0o5274

hex() is used to convert form any base to hexa decimal
0x7
0x7b
0x9c

### float

In [18]:
# We can use float data type to represent floating point values
# we can represent int values in decimal,binary,octal and hexa decimal forms.But we can represent
# float values only by using decimal form
f=12.1232
print(type(f))
print(f)
f=1.2e3 # f=1.2E3
type(f)
print(f)

<class 'float'>
12.1232
1200.0

### complex

In [22]:
# complex numbers form: a+bj
# a is real part and b is imaginary part
a=12+10j
print(type(a))
print(a)
# if use int value for real part we can use decimal,octal,hexa decimal form but
# Imaginary part specified by decimal form only
print(a.real)
print(a.imag)

<class 'complex'>
(12+10j)
12.0
10.0

### bool

In [24]:
# True or False
a= True
type(a)
print(a)
b=10>5
print(b)

True
True

### str

In [26]:
# string is a sequence of characters enclosed within single or double quotes
s1='ravi'
s2="raviteja"
print(type(s1))
print(s1)

<class 'str'>
ravi

### bytes

In [6]:
# bytes data type represents a group of bye numbers like an array
x=[10,20,30,40]
print
barray=bytes(x)
print(type(barray))
for i in barray:
    print(i)
# The only allowed values for byte type are 0 to 256. By mistake if we are try to provide any other values
# we will get erro

# Once we creates bytes data type value,we cannot change its values,otherwise will get TypeError
# b=bytes([12,12,2323])   we will get error

<class 'bytes'>
10
20
30
40

### bytearray

In [11]:
# bytearray is exactly same as bytes data type except that its elements can be modified
x=[10,20,30,40]
var=bytearray(x)
for value in var:
    print(value,end=' ')
print()
x[2]=111
for value in var:
    print(value,end=' ')

10 20 30 40
10 20 30 40

### list

In [19]:
# If we want to represent a group of values as a single entity then we go with list data type
#    Insertion order is preserved
#    Heterogeneous Objects are allowed
#    Duplicates are allowed
#    Growable in nature
#    Values should be enclosed within squared brackets
list=[10,True,'str',10.4,10+23j]
print(type(list))
for value in list:
    print(value,end=' ')

print()
list.append('new')
list.remove(10)
list=list*2
for value in list:
    print(value,end=' ')

<class 'list'>
10 True str 10.4 (10+23j)
True str 10.4 (10+23j) new True str 10.4 (10+23j) new

### tuple

In [18]:
# tuples data type is exactly same as list data type except that is immutable
# represented within parenthesis
t=(10,20,30,40)
print(type(t))
# this is readonly version of list

<class 'tuple'>

### range

In [27]:
# range data type represents a sequence of numbers
# the elements present in range data type are not modifiable so it is immutable
# form-1: range(x)
r=range(10)
print(type(r))
for i in r:
    print(i,end=' ')
# form-2: range(x,y)
print()
r=range(10,20)
for i in r:
    print(i,end=' ')
# form-3: range(x,y,step)
print()
r=range(10,20,2)
for i in r:
    print(i,end=' ')

<class 'range'>
0 1 2 3 4 5 6 7 8 9
10 11 12 13 14 15 16 17 18 19
10 12 14 16 18

### set

In [26]:
# if we want to represent a group of values without duplicates where order is not important 
# then we should go for set data type
#    Insertion order is not preserved
#    Duplicates are not allowed
#    Heterogeneous objects are allowed
#    Index concept is not applicable
#    It is mutable collection
#    Growable in nature
s={10,"ravi",100.23}
print(type(s))
print(s)

<class 'set'>
{10, 100.23, 'ravi'}

### frozenset

In [28]:
# it is exactly same as set except that it is immutable
# Hence we cannot use add or remove functions
s={10,20,10,30}
fs=frozenset(s)
print(type(fs))
print(s)

<class 'frozenset'>
{10, 20, 30}

### dict

In [29]:
# if we want to represent a group of values as key-value pair then we should go with dict data type
d={101:'ravi',102:'teja',103:'you'}
d[101]='sunny'
print(type(d))
print(d)

<class 'dict'>
{101: 'sunny', 102: 'teja', 103: 'you'}

### None

In [30]:
# None means nothing or No value
# if the value is not available,then to handle such type of cases None introduction
def m1():
    pass
print(m1())

None

### Escape Characters

In [37]:
# \n --> New Line
# \t --> Horizontal Tab
# \r --> carriage return
# \' --> single quotes
# \" --> Double quotes
# \\ --> Back slash Symbol
s="durga\nsoftware"
print(s)
s='durga software is "leading company"'
print(s)
s="it\' me..minimy"
print(s)

durga
software
durga software is "leading company"
it' me..minimy